@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    font-family: "Poppins" !important;
    background: conic-gradient(
        from 136.11deg at 39.58% 43.78%,
        #f5f6ff -56.04deg,
        #f8f9ff 8.89deg,
        #f4f8ff 120.09deg,
        #f5f6ff 303.96deg,
        #f8f9ff 368.89deg
    );
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
.css-cveggr-MuiListItemIcon-root {
    color: inherit !important;
}
